.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    height: 20rem;
    border-radius: 1.5rem;
    background: var(--gradient-header);

    @include break-point(tablet-portrait) {
        width: 20rem;
    }

    .count {
        font-size: 4.2rem;
        line-height: 3.2rem;
        color: var(--color-white);
        font-weight: var(--font-weight-bold);
        margin-bottom: 1rem;
    }

    .icon {
        width: 4rem;
        height: 4rem;

        svg {
            width: 4rem;
            height: 4rem;
            fill: var(--color-white)
        }
    }

    p {
        color: var(--color-white);
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: var(--font-weight-medium)
    }
}