.about {
    padding-top: 0;
    overflow: visible;

    h2, p {
        text-align: center;
    }

    .more-info {
        width: 100rem;
        margin: 6rem auto 0;
    }

    .card-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -8rem auto 0;

        .card {
            &:nth-of-type(even) {
                margin: 0 2rem;
            }
        }
    }
}