.clients {
    
    .big-circle {
        width: 50rem;
        height: 50rem;
        border-radius: 50%;
        background: var(--color-main-bg);
        border: .2rem solid var(--color-white);
    }
    
    .clients-wrap {

        .client {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            position: relative;

            .avatar {
                
            }

            .popup {
                position: absolute;
                right: 0;
                top: 0;

                dl {
                    dt {

                    }

                    dd {
                        font-size: 1.4rem;
                        line-height: 1.2rem;
                        color: var(--color-black);
                        border-radius: 1rem;
                        border: .2rem solid var(--color-black);
                    }
                }
            }
        }
    }
}