.contact {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .btn {
            width: 50%;
            margin: 0 auto;
        }
    }
}