.contact {
    padding: 14rem 0 12rem;

    @include break-point(tablet-landscape) {
        padding: 10rem 0 12rem;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .btn {
            width: 50%;
            margin: 4rem auto 0;
        }
    }
}