.clients {
    padding-bottom: 20rem;
    padding-top: 15rem;

    @include break-point(tablet-landscape) {
        padding-bottom: 14rem;
    }

    @include break-point(tablet-portrait) {
        padding-bottom: 10rem;
        padding-top: 23rem;
    }

    @include break-point(mobile) {
        padding-bottom: 48rem;
        padding-top: 24rem;
    }

    .big-circle {
        width: 50rem;
        height: 50rem;
        margin: 0 auto;
        border-radius: 50%;
        background-color: var(--color-black);
        background-image: url('/images/bg-banners/black-white.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: .2rem solid var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        @include break-point(mobile) {
            width: 35rem;
            height: 35rem;
        }

        .iplugstore-tagline {
            border-radius: 50%;

            @include break-point(mobile) {
                width: 100%;
                max-width: 23rem;
            }
        }
    }
    
    .clients-wrap {

        .client {
            height: auto;
            border-radius: 50%;
            display: flex;
            align-items: center;
            position: absolute;

            .popup {
                position: relative;
            }

            .avatar {
                position: relative;

                @include break-point(tablet-landscape) {
                    width: 15rem;
                    position: absolute;
                }
            }

            &:nth-of-type(1) {
                top: -2rem;
                right: 24rem;

                @include break-point(tablet-landscape) {
                    right: 1rem;
                }

                @include break-point(tablet-portrait) {
                    top: -12rem;
                    right: 20rem;
                }

                @include break-point(mobile) {
                    top: -12.5rem;
                    right: 0rem;
                }

                .popup {
                    @include break-point(tablet-landscape) {
                        right: 3rem;
                    }
                }

                .avatar {
                    right: -31rem;
                    top: -14rem;

                    @include break-point(tablet-landscape) {
                        right: 17rem;
                        top: -12rem;
                    }

                    @include break-point(tablet-portrait) {
                        right: 4rem;
                    }
                }
            }

            &:nth-of-type(2) {
                bottom: 20rem;
                left: 2rem;

                @include break-point(tablet-landscape) {
                    left: 1rem;
                }

                @include break-point(tablet-portrait) {
                    bottom: -10rem;
                    left: 3rem;
                }

                @include break-point(mobile) {
                    bottom: -22rem;
                }

                .popup {
                    left: 0;

                    @include break-point(tablet-landscape) {
                        
                    }
                }

                .avatar {
                    top: -13.5rem;
                    left: 29rem;

                    @include break-point(tablet-landscape) {
                        top: -11.5rem;
                        left: 12.5rem;
                    }
                }
            }

            &:nth-of-type(3) {
                bottom: -18rem;
                left: 42rem;

                @include break-point(tablet-landscape) {
                    bottom: -14rem;
                }

                @include break-point(tablet-portrait) {
                    bottom: -8rem;
                    left: 63rem;
                }
                
                @include break-point(mobile) {
                    bottom: -45.5rem;
                    left: 26rem;
                }
                
                .popup {
                    top: 2rem;

                    @include break-point(tablet-landscape) {
                        top: -2rem;
                    }
                    
                    @include break-point(tablet-portrait) {
                        top: 2rem;
                        right: 19rem;
                    }
                }

                .avatar {
                    right: -29rem;
                    bottom: 12rem;

                    @include break-point(tablet-landscape) {
                        top: -13.5rem;
                        right: 0;
                    }

                    @include break-point(tablet-portrait) {
                        top: -9.5rem;
                        right: 20rem;
                    }
                }
            }

            .popup {
                display: flex;
                width: 30rem;
                justify-content: space-between;
                flex-direction: column;
                border-radius: 2rem;
                padding: 2rem;
                background-color: var(--color-white);
                border: .2rem solid var(--color-black);

                dl {
                    margin-bottom: 2rem;

                    dt {
                        font-size: 2rem;
                        line-height: 2.2rem;
                        font-weight: var(--font-weight-medium);
                        margin-bottom: 1rem;
                        font-style: italic;
                    }

                    dd {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        border-radius: 1rem;
                        color: var(--color-black);
                    }
                }
            }

            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-style: italic;
                margin-bottom: 0;
                text-align: right;
            }
        }
    }
}