.clients {
    padding-bottom: 15rem;

    @include break-point(tablet-landscape) {
        padding-bottom: 6rem;
        padding-top: 12rem;
    }

    @include break-point(tablet-portrait) {
        padding-bottom: 10rem;
        padding-top: 22rem;
    }

    .big-circle {
        width: 50rem;
        height: 50rem;
        margin: 0 auto;
        border-radius: 50%;
        background-color: var(--color-black);
        background-image: url('/images/bg-banners/black-white.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: .2rem solid var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        //animation: animName 2s linear infinite;

        .iplugstore-tagline {
            border-radius: 50%;
        }
    }
    
    .clients-wrap {

        .client {
            height: auto;
            border-radius: 50%;
            display: flex;
            align-items: center;
            position: absolute;

            .popup {
                position: relative;
            }

            .avatar {
                position: relative;

                @include break-point(tablet-landscape) {
                    width: 15rem;
                    position: absolute;
                }
            }

            &:nth-of-type(1) {
                top: 0;
                right: 10rem;

                @include break-point(tablet-landscape) {
                    right: 2rem;
                }

                @include break-point(tablet-portrait) {
                    top: -11rem;
                    right: 20rem;
                }

                .popup {
                    @include break-point(tablet-landscape) {
                        right: 3rem;
                    }
                }

                .avatar {
                    right: -2rem;

                    @include break-point(tablet-landscape) {
                        right: 17rem;
                        top: -12rem;
                    }

                    @include break-point(tablet-portrait) {
                        right: 4rem;
                    }
                }
            }

            &:nth-of-type(2) {
                bottom: 20rem;
                left: 32rem;

                @include break-point(tablet-portrait) {
                    bottom: -10rem;
                }

                .popup {
                    left: -49rem;

                    @include break-point(tablet-landscape) {
                        left: -30rem;
                    }
                }

                .avatar {
                    @include break-point(tablet-landscape) {
                        top: -11.5rem;
                        left: -30rem;
                    }
                }
            }

            &:nth-of-type(3) {
                bottom: -8rem;
                left: 63rem; 
                
                .popup {
                    top: 8rem;

                    @include break-point(tablet-landscape) {
                        top: -2rem;
                    }
                    
                    @include break-point(tablet-portrait) {
                        top: 2rem;
                        right: 19rem;
                    }
                }

                .avatar {
                    @include break-point(tablet-landscape) {
                        top: -13.5rem;
                        right: 0;
                    }

                    @include break-point(tablet-portrait) {
                        top: -9.5rem;
                        right: 20rem;
                    }
                }
            }

            .popup {
                display: flex;
                width: 30rem;
                justify-content: space-between;
                flex-direction: column;
                border-radius: 2rem;
                padding: 2rem;
                background-color: var(--color-white);
                border: .2rem solid var(--color-black);

                dl {
                    margin-bottom: 2rem;

                    dt {
                        font-size: 2rem;
                        line-height: 2.2rem;
                        font-weight: var(--font-weight-medium);
                        margin-bottom: 1rem;
                        font-style: italic;
                    }

                    dd {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        border-radius: 1rem;
                        color: var(--color-black);
                    }
                }
            }

            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-style: italic;
                margin-bottom: 0;
                text-align: right;
            }
        }
    }
}