.clients {
    padding-bottom: 15rem;

    .big-circle {
        width: 50rem;
        height: 50rem;
        margin: 0 auto;
        border-radius: 50%;
        background: var(--color-black);
        border: .2rem solid var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .clients-wrap {

        .client {
            height: auto;
            border-radius: 50%;
            display: flex;
            align-items: center;
            position: absolute;

            .popup {
                position: relative;
            }

            &:nth-of-type(1) {
                top: 0;
                right: 10rem;

                .avatar {
                    margin-right: -2rem;
                }
            }

            &:nth-of-type(2) {
                bottom: 20rem;
                left: 32rem;

                .popup {
                    left: -49rem;
                }
            }

            &:nth-of-type(3) {
                bottom: -8rem;
                left: 63rem; 
                
                .popup {
                    top: 8rem;
                }
            }

            .popup {
                display: flex;
                width: 30rem;
                justify-content: space-between;
                flex-direction: column;
                border-radius: 2rem;
                padding: 2rem;
                border: .2rem solid var(--color-black);

                dl {
                    margin-bottom: 2rem;

                    dt {
                        font-size: 2rem;
                        line-height: 2.2rem;
                        font-weight: var(--font-weight-medium);
                        margin-bottom: 1rem;
                        font-style: italic;
                    }

                    dd {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        border-radius: 1rem;
                        color: var(--color-black);
                    }
                }
            }

            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-style: italic;
                margin-bottom: 0;
                text-align: right;
            }
        }
    }
}