.footer {
    padding: 4rem 0;
    background: var(--gradient-footer);

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include break-point(mobile) {
            padding: 0 3.5rem;
        }

        .socials {
            @include break-point(mobile) {
                margin-bottom: 2rem;
            }

            ul {
                display: flex;
                align-items: center;
                margin-top: 0;

                li {
                    list-style: none;
                    margin: 0 2rem;

                    a {
                        .icon {
                            svg {
                                width: 4rem;
                                height: 4rem;
                                fill: var(--color-black);
                                transition: all ease-in-out .3s;
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            color: var(--color-black);
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: var(--font-weight-light);

            @include break-point(mobile) {
                text-align: center;
            }

            a {
                color: var(--color-black);
                cursor: pointer;
            }
        }
    }
}