.navigation {
    width: 100%;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul.menu {
            list-style: none;
            display: flex;
            align-items: center;

            li {
                margin: 0 1.5rem;

                a {
                    color: var(--color-white);
                    font-weight: var(--font-weight-bold);
                    transition: all ease-in-out .2s;
                    padding-bottom: .1rem;

                    &:hover {
                        color: var(--main-bg);
                    }
                }
            }
        }
    }
}